   <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We are here for your data and software requirements. Data Warehouse design, Data Visualization, Data Analysis, Data Modeling and Web Applications Design and Development with the most up to date tech tools.</h3>
                </div>
            </div>
            <div class="row text-center">
				<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Engineering</h4>
                    <p class="text-muted">Our data experts are ready to help you with your data and reporting needs. We are experts of data warehouse design and development, data pipelining, data modeling, data analysis and data visualization. Data is the locomotive of growth. Grow with data!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">If you are into e-commerce, we are pleased to help you with online marketing, social media management, professional product photographing, SEO keywording and with all aspects of online marketing.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive and Robust Applications</h4>
                    <p class="text-muted">Our software development experts are ready to listen to you and develop the best product for you. We have extensive web application development experience with the cutting edge tech.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Application Security</h4>
                    <p class="text-muted">Application Pentesting is a cybersecurity assessment designed to detect and use security vulnerabilities that affect servers, systems, and applications so that any identified weaknesses can be addressed to reduce the risk of exposure to a malicious attack. Our experts specialize in manual penetration testing services for web applications, mobile applications (iOS/Android), desktop applications, and Web APIs.</p>
                </div>
            </div>
        </div>
    </section>